<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bazulis.gpxtracker.trk" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <service
            android:name=".TrackService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".RecordList"
            android:label="@string/title_activity_record_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bazulis.gpxtracker.trk.MainActivity" />
        </activity>
        <activity
            android:name=".GPXDetails"
            android:label="@string/title_activity_gpxdetails"
            android:parentActivityName=".RecordList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bazulis.gpxtracker.trk.RecordList" />
        </activity>
        <activity
            android:name=".HrMonitorConfiguration"
            android:label="@string/title_activity_hr_monitor_configuration"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bazulis.gpxtracker.trk.SettingsActivity" />
        </activity>

        <service
            android:name=".HeartRateMonitorService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
